// Normally mainpage styles
.out
  width: 1260px
  margin: auto
.header
  width: 1260px
  margin: auto
  background-color: rgb(8, 19, 25)
  overflow: hidden
  padding-left: 3.6%
  padding-right: 5.9%
  &__logo
    width: 50%
    float: left
    line-height: 64px
  &__menu
    display: inline-block
    width: 50%
    float: right
  .menu-item
    display: inline-block
    line-height: 4
  .menu-link
    //display: inline-block
.content
  width: 100%
  background: url(../img/bg_slick.png) no-repeat
  overflow: hidden
  &__slick-left
    display: inline-block
    width: 50%
    float: left
    text-align: center
  &__slick-left img
    vertical-align: middle
  &__slick-right
    //display: inline-block
    width: 50%
    float: right
